[submodule "src/dataCache"]
	path = src/dataCache
	url = s:\\git\\DataCache.java.git
[submodule "src/diaDat"]
	path = src/diaDat
	url = s:\\git\\DiaDat.java.git
[submodule "src/measData"]
	path = src/measData
	url = s:\\git\\measData.java
[submodule "src/lippiWare/blfHandler"]
	path = src/lippiWare/blfHandler
	url = S:\\git\\BlfHandler.java.git
[submodule "src/lippiWare/pythonStruct"]
	path = src/lippiWare/pythonStruct
	url = S:\\git\\pythonStruct.java.git
[submodule "src/lippiWare/utils"]
	path = src/lippiWare/utils
	url = s:\\git\\utils.java
